<div class="newsletter-success-modal">
  <div class="modal-overlay"></div>
  <div class="halo-modal-content">
    <a class="close close-modal" title="{{ 'cart.ajax_cart.close' | t }}">
      {% include 'icon-close' %}
    </a>

    <div class="halo-modal-body">
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>{{settings.newssletter_success_text}}</span>
    </div>
  </div>     

</div>

