<div>
    <ul class='list-order'>
    
    </ul>

    <div class='form-os'>

        {% if customer.email == blank %}
          <div>
              <div class='label-email'>* Required</div>
              <input class='input-email' type='email' placeholder='Enter your email address' />
          </div>

        {% else %}
          <b id="customer-info" customer="{{ customer.email }}" style="display: none;">{% for code in customer.metafields['custom_2b_io'].discounts_available limit: 1 %}{{ code }}{% endfor %}</b>
        {% endif %}

        <div>
            <div class='wrapper-discount-code'>
                <input class='input-text' type='text' placeholder='Discount code' />
                <button class='btn'>Apply</button>
            </div>
            <div class='info-prices'>

                <div class='price-percent'>
                    <span>-25%</span>
                </div>

                <div class='price-old'>
                    <span></span>
                </div>

                <div>
                    <span>Total Price:</span>
                    <span class='price-final'></span>
                </div>

                <div>
                </div>
            </div>
        </div>
        <button class='sm-data'>Buy Boost Now</button>
    </div>
</div>
<script>

    const pathName = location.pathname;
    const keyProductHandle = pathName.slice(pathName.lastIndexOf('/') + 1);
    const API_CART = '/cart.js';
    const listOrder = document.querySelector('.list-order');
    const customerInfo = document.querySelector('#customer-info');

    async function handleApi(url = '', data = {}, METHOD = 'GET') {
      const response = await fetch(url, {
        method: METHOD,
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
        body: METHOD !== 'GET' ? JSON.stringify(data) : null
      });
      return response.json();
    }

    function handlePrintListOrder(items){
        items.forEach(async item => {
            const price = await Shopify.formatMoney(item.price);
            listOrder.innerHTML +=`<li>
                <div class='image-product'>
                    <img src=${item.image ? item.image : 'https://dummyimage.com/200x200/ffffff/cccccc&text=no+thumb'} />
                    ${item.quantity ? `<span class='qlt-count'>${item.quantity}</span>`:  ''}   
                </div>

                <div class='box-content'>
                    <div>
                        <div class='heading'>
                            <span class='title'>${item.product_title}</span>
                        </div>   

                        ${item.variant_title 
                            ? `<div class='variant'>
                                    <span>${item.variant_title}</span>
                                </div>`
                            : ""}
                    </div>
                    ${item.price ? `<span class='price'>${price}</span>` : ''}
                </div>
            </li>`
        });
    }
    function selectorPriceElement(selectorEl){
        const domPrice = document.querySelector('.info-prices');
        return domPrice.querySelector(selectorEl);
    }
    // vanlong todo
    if(customerInfo && customerInfo.textContent) {

    }

    if(document.referrer === `${location.origin}/cart`){
        handleApi(API_CART)
        .then(data => {
            console.log('data',data);
            handlePrintListOrder(data.items)
        })
    }else {
        console.log('a');
    }
</script>