<div>

<div class="preloader">
    <div class="preloader-spinner"></div>
</div>
    <ul class='list-order'>
    
    </ul>

    <div class='form-os'>

        {% if customer.email == blank %}
          <div>
              <div class='label-email'>* Required</div>
              <input class='input-email' type='email' placeholder='Enter your email address' />
          </div>

        {% else %}
          <b id="customer-info" customer="{{ customer.email }}" style="display: none;">{% for code in customer.metafields['custom_2b_io'].discounts_available limit: 1 %}{{ code }}{% endfor %}</b>
        {% endif %}

        <div>
            <div class='wrapper-discount-code'>
                <input class='input-discount-code' type='text' placeholder='Discount code' />
                <button class='btn btn-apply-discount'>
                    <div class="load"></div>
                    <span>Apply</span>
                </button>
            </div>
            <div class='info-prices'>

                <div class='box-price-percent'>
                    <span>Discount:</span>
                    <span class='price-percent'></span>
                </div>

                <div class='box-price-old'>
                    <span>SubTotal:</span>
                    <span class='price-old'></span>
                </div>

                <div class='box-price-final'>
                    <span>Total Price:</span>
                    <span class='price-final'></span>
                </div>

                <div>
                </div>
            </div>
        </div>
        <button class='sm-data'>Buy Boost Now</button>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function(){

        const ROOT_API = 'https://2490-59-153-254-184.ngrok.io/storefront';
        const API_CART = '/cart.js';
        const API_VALIDATE_DISCOUNT_CODE = 'validate-discount-code';

        const pathName = location.pathname;
        const keyProductHandle = pathName.slice(pathName.lastIndexOf('/') + 1);
        const listOrder = document.querySelector('.list-order');
        const customerInfo = document.querySelector('#customer-info');
        const inputEmail = document.querySelector('.input-email');
        const inputDiscountCode = document.querySelector('.input-discount-code');
        const btnApply = document.querySelector('.wrapper-discount-code .btn');

        let totalPrice, emailAddress, productList = [];

        async function handleApi(url = '', data = {}, METHOD = 'GET') {
        const response = await fetch(url, {
            method: METHOD,
            cache: 'no-cache',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            },
            body: METHOD !== 'GET' ? JSON.stringify(data) : null
        });
        return response.json();
        }

        function handleLoadingButton(selectorElement, action){
            document.querySelector(selectorElement).classList[action]('is-loading')
        }

        function initRenderPrice(){
            if(customerInfo && customerInfo.textContent) {
                handleApi(
                    `${ROOT_API}/${API_VALIDATE_DISCOUNT_CODE}`,
                    {
                        "email" : "{{ customer.email }}",
                        "discount_code": customerInfo.textContent,
                        "total_price": `${totalPrice}`,
                        "product": productList
                    },
                    'POST' 
                )
                .then(res => {
                    priceThenDiscount(res.total_price)
                })
            }else {
                priceThenDiscount(totalPrice)
            }
        }

        function handlePrintListOrder(items){
            items.forEach(async item => {
                const priceOriginal = await item.price
                const price = await Shopify.formatMoney(priceOriginal);
                listOrder.innerHTML +=`<li>
                    <div class='image-product'>
                        <img src=${item.image ? item.image : 'https://dummyimage.com/200x200/ffffff/cccccc&text=no+thumb'} />
                        ${item.quantity ? `<span class='qlt-count'>${item.quantity}</span>`:  ''}   
                    </div>

                    <div class='box-content'>
                        <div>
                            <div class='heading'>
                                <span class='title'>${item.product_title}</span>
                            </div>   

                            ${item.variant_title 
                                ? `<div class='variant'>
                                        <span>${item.variant_title}</span>
                                    </div>`
                                : ""}
                        </div>
                        ${item.price ? `<span class='price'>${price}</span>` : ''}
                    </div>
                </li>`
            });
        }

        async function priceThenDiscount(priceFinal){
            document.querySelector('.price-final').textContent = Shopify.formatMoney(priceFinal);
            if(Number(totalPrice) !== Number(priceFinal)){
                togglePriceDiscount('flex')
                document.querySelector('.price-percent').textContent = `- ${Shopify.formatMoney(totalPrice-priceFinal)}`;
                document.querySelector('.price-old').textContent = Shopify.formatMoney(totalPrice);
            }else {
                togglePriceDiscount('none')
            }
            document.body.classList.add('loaded');
            handleLoadingButton('.btn-apply-discount','remove');
        }
        function togglePriceDiscount(action){
            document.querySelector('.box-price-percent').style.display = action;
            document.querySelector('.box-price-old').style.display = action;
        }
        function handleDiscountCode(emailAddress, discountCode) {
            handleApi(
                `${ROOT_API}/${API_VALIDATE_DISCOUNT_CODE}`,
                {
                    "email" : emailAddress,
                    "discount_code": discountCode,
                    "total_price": `${Number(totalPrice)}`,
                    "product": productList
                },
                'POST' 
            )
            .then(res => {
                if(res.message === 'success'){
                    priceThenDiscount(res.total_price)
                    handleLoadingButton('.btn-apply-discount','remove');
                    setTimeout(()=>{
                        alert('Successfully applied discount code')
                    })
                }else {
                    handleLoadingButton('.btn-apply-discount','remove');
                    alert(res.message)
                }
            })
        }

        (function handleSubmitApplyCode(){
            btnApply.addEventListener('click', function(){
                if(inputDiscountCode.value.trim() === ''){
                    alert('You have not entered the discount code');
                    return;
                }
                if(!customerInfo){
                    if(inputEmail.value.trim() === ''){
                        alert('Email address is required');
                        return;
                    }
                    if(inputEmail.validationMessage !== ''){
                        alert(inputEmail.validationMessage);
                        return;
                    }
                    handleDiscountCode(inputEmail.value.trim(),  inputDiscountCode.value.trim())
                }else {
                    handleDiscountCode("{{ customer.email }}",  inputDiscountCode.value.trim())
                }
                handleLoadingButton('.btn-apply-discount','add');
            })
        })()

        if(location.pathname === '/pages/order-summary') {
            handleApi(API_CART)
            .then(data => {
                console.log('data',data);
                
                handlePrintListOrder(data.items)

                const products = data.items.map(item => {
                    return {
                        id: item.id,
                        price: item.price
                    }
                })

                productList = products;
                totalPrice = data.total_price;
                initRenderPrice()
            })
        }else {
            console.log('a');
        }
    })
</script>
<style>
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 20px;
    height: 20px;
    border: solid 3px white;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wrapper-discount-code .load{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 27px;
}
.wrapper-discount-code .is-loading .load{
    opacity: 1;
    pointer-events: auto;
}
.btn-apply-discount {
    position: relative;
}
.wrapper-discount-code .is-loading .load + span{
    opacity: 0;
    pointer-events: none;
}
.wrapper-discount-code .is-loading {
    pointer-events: none;
}
.info-prices > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    color: #000000c4;
    margin-top: 15px;
}
</style>