<div class='wrapper-thank-you'>
    <p class='title-thank-you'>THANK YOU!</p>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="1280.000000pt" height="1253.000000pt" viewBox="0 0 1280.000000 1253.000000" preserveAspectRatio="xMidYMid meet" style="&#10;    max-width: 300px;&#10;">
        <metadata>
        Created by potrace 1.15, written by Peter Selinger 2001-2017
        </metadata>
        <g transform="translate(0.000000,1253.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path style="fill:#27b765" d="M12000 12520 c-192 -27 -395 -98 -655 -230 -446 -225 -961 -590 -1620 -1149 -926 -785 -2158 -2000 -3466 -3416 -661 -717 -1389 -1537 -1913 -2157 -87 -104 -159 -188 -160 -188 -1 0 -67 34 -146 76 -255 134 -875 442 -1078 536 -849 391 -1441 595 -1912 659 -134 18 -368 13 -479 -10 -224 -48 -405 -181 -495 -366 -52 -104 -69 -183 -70 -310 -1 -105 1 -113 32 -177 29 -59 55 -87 235 -254 438 -407 919 -904 1273 -1315 792 -921 1625 -2167 2579 -3858 168 -297 234 -355 405 -355 66 0 96 5 132 21 113 51 158 111 238 313 135 341 398 964 565 1335 1285 2866 2820 5295 4654 7365 520 587 971 1049 1821 1866 665 640 790 788 844 1005 81 328 -187 601 -604 614 -63 2 -144 0 -180 -5z" style="&#10;    fill: blue;&#10;"/>
        </g>
    </svg>
    <p class='desc-thank-you'>Please check the email you have registered to purchase, we will send information about your order by email.</p>
    <a href='/'>Goto homepage</a>
</div>
<script>

    async function handleApi(url = '', data = {}, METHOD = 'GET') {
        const response = await fetch(url, {
            method: METHOD,
            cache: 'no-cache',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'pass_dev': 'pass_dev'
            },
            body: METHOD !== 'GET' ? JSON.stringify(data) : null
        });
        return response.json();
    }
    handleApi('/cart/clear.js')
    .then (res => {
        const cartCount = document.querySelectorAll('.cartCount')
        cartCount.forEach(item => {
            item.textContent = '0';
        })
    })
</script>
<style>
    .wrapper-thank-you {
        text-align: center;
        padding:20px;
    }
    .title-thank-you {
        font-weight: 800;
        color: #000;
        font-size: 60px;
        margin-top: 100px;
    }
    .desc-thank-you {
        font-size: 15px;
        margin: 30px 0 60px;
        line-height:26px;
    }
    .wrapper-thank-you svg {
        margin-top:30px;
        width: 50px;
        height: 50px;
    }
    .wrapper-thank-you a{
        color:#d0a85c;
    }

</style>